In [3]:
import pandas as pd
import numpy as np

In [4]:
index = pd.date_range('10/1/1999', periods=1100)
ts = pd.Series(np.random.normal(0.5, 2, 1100), index)

In [5]:
ts = pd.rolling_mean(ts, 100, 100).dropna()

In [17]:
key = lambda x: x.year
zscore = lambda x: (x - x.mean()) / x.std()
transformed = ts.groupby(key).transform(zscore)

In [18]:
ts.head()

2000-01-08    0.623336
2000-01-09    0.622562
2000-01-10    0.600045
2000-01-11    0.537142
2000-01-12    0.502262
Freq: D, dtype: float64

In [16]:
grouped = ts.groupby(key)
grouped.head()

2000-01-08    0.623336
2000-01-09    0.622562
2000-01-10    0.600045
2000-01-11    0.537142
2000-01-12    0.502262
2001-01-01    0.610327
2001-01-02    0.644850
2001-01-03    0.685623
2001-01-04    0.694469
2001-01-05    0.669969
2002-01-01    0.354218
2002-01-02    0.371869
2002-01-03    0.354412
2002-01-04    0.381740
2002-01-05    0.375903
dtype: float64

In [20]:
grouped.mean()
grouped.std()

2000    0.126943
2001    0.118441
2002    0.237924
dtype: float64

In [22]:
grouped_trans = transformed.groupby(key)
grouped_trans.mean()

2000    3.989999e-15
2001   -3.519255e-15
2002    5.234481e-16
dtype: float64

In [23]:
grouped_trans.std()

2000    1
2001    1
2002    1
dtype: float64

In [24]:
compare = pd.DataFrame({'Original': ts, 'Transformed': transformed})
compare.plot()

In [25]:
import pandas as pd  
import numpy as np

dates = pd.date_range('1/1/2000', periods=100)
df = pd.DataFrame(np.random.randn(100, 1), index=dates, columns=['A'])

monthly_mean = df.resample('M', how='mean')

In [27]:
monthly_mean

                   A
2000-01-31 -0.145591
2000-02-29  0.232047
2000-03-31  0.080691
2000-04-30  0.297398

In [30]:
monthly_mean.reset_index() # .plot(x='index', y='A')

       index         A
0 2000-01-31 -0.145591
1 2000-02-29  0.232047
2 2000-03-31  0.080691
3 2000-04-30  0.297398